<div class="container">
  <div class="row">
    <div class="col">
      <h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant, class: "btn btn-primary" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
